<md-content layout-padding ng-show="action == 'create'">
    <form name="newGroup" ng-submit="createGroup()">

            <md-input-container class="md-block">
                <label>Name</label>
                <input required name="newName" ng-model="newName">
                <div ng-messages="newGroup.newName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Description</label>
                <input name="descr" ng-model="newDescription">
            </md-input-container>

        <div>
            <md-button type="submit">Create</md-button>
        </div>
    </form>
</md-content>

<md-content ng-show="action == 'manage'">
    <div layout="row" layout-margin layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

        <md-whiteframe
                ng-repeat="(id, g) in groups"
                class="md-whiteframe-4dp sheet"
                flex-sm="100"
                flex-xs="100"
                flex-gt-sm="45">
            <md-toolbar class="md-toolbar-tools md-toolbar-small md-hue-2">
                <span>{{ g.name }}</span>
            </md-toolbar>
            <div class="content">
                <div><i>{{ g.description }}</i></div>
                <div class="md-toolbar-tools" ng-repeat="(uid, t) in g.users">
                    <img src="{{ users[uid].photo }}" class="md-avatar-small">
                    <label class="display">{{ users[uid].name }} ({{t}})</label>
                </div>
            </div>
        </md-whiteframe>
    </div>
</md-content>

