<div ng-hide="userObj.isLoaded()">

    <div ng-show="invite.userName">
        <md-content role="navigation">
            <p><b>{{ invite.userName }}</b> invited you to join the group <b>{{ invite.groupName }}</b></p>
        </md-content>
    </div>
        <div class='loginButtonFB'>
            <md-button ng-click="logIn('facebook')">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;
                <span>
                    Login with Facebook
                </span>
            </md-button>
        </div>
        <div class='loginButtonG'>
            <md-button ng-click="logIn('google')">
                <i class="fa fa-google" aria-hidden="true"></i>&nbsp;&nbsp;
                <span>
                    Login with Google
                </span>
            </md-button>
        </div>
</div>

<div ng-show="userObj.isLoaded()">
    Hello <b>{{ userObj.name }}</b>!
    <md-content role="navigation" ng-show="userObj.activeGroup">
        <p ng-hide="myWishlist.wishes">
            Start by creating your wishlist!
        </p>
    </md-content>
    <md-content role="newgroup" ng-hide="userObj.activeGroup" class="main-content">
        <p>You're in no group yet :(</p>
        <p>Start by <a ui-sref="groups({action: 'create'})">creating a group</a></p>
    </md-content>

    {{ wishlists | json }}
</div>
